
// Reset
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

// 1. Abstracts
@import 'abstracts/fonts',
        'abstracts/variables';

// 2. Base
@import 'base/base';

// 3. Components
@import 'components/header',
        'components/pageblock',
        'components/badge',
        'components/footer';

// 4. Layout
@import 'layout/flex';