@for $i from 1 through 6 {
  h#{$i} {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-size: $header-font-size - ($i * $i );
    color: #ED1E79;
  }
}

p {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}